@for $indice from 1 through 12 {
    .col-#{$indice} {
        width: (100%/12) * $indice ;
    }
}
$textos:(
    color: black,
    centro: center,
    justify: justify,
    tamaño: 20px,
    fuente: arial,
);
.jtextp {
    color: map-get($textos, color);
    text-align: map-get($textos, justify);
    font-size: map-get($textos, tamaño);
    font-family: map-get($textos, fuente);
}
.jtextt {
    color: map-get($textos, color);
    text-align: map-get($textos, centro);
    font-size: 26px;
    font-family: map-get($textos, fuente);
}
.jfoto {
    @include sizes (100%, 100px)
}